<div class="container">
<div class="row">
<div class="col-4">
<h1><%= @article.title %></h1>
<p><%= @article.text %></p>
<%= link_to 'Back', articles_path %><br/><br/>

<h2>Comments</h2>

<% @article.comments.reverse_each do |comment| %>

<p>
<i><%= comment.author %> said:</i><br />
<%= comment.body %><br/></p>
<hr/>

<% end %>

<h2>Add comment</h2>
<%= form_for([@article, @article.comments.build]) do |f| %>
  
  <p>
    <%= f.label :body %><br/>
    <%= f.text_area :body, class: "form-control", placeholder: "Body input", style: "width: 400px" %>
  </p>
  <p>
    <%= f.submit"Create comment", class: "btn btn-success" %>
  </p>

<% end %>
</div>
</div>
</div>