<div class="container">
<div class="row">
<div class="col-4">
<h2>Contact us!</h2>

<%= form_for :contact, url: contacts_path do |f| %>
  <% if @contact && @contact.errors.any? %>
    <p>
      <ul>
        <% @contact.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </p>
  <% end %>
  <p>
    <%= current_user.email %><br/>    
  </p>
  <p>
    <%= f.label :message %><br/>
    <%= f.text_area :message, class: "form-control", placeholder: "Message input" %>
  </p>
  <p>
    <%= f.submit 'Send message', class: 'btn btn-success'%>
  </p>

<% end %>
</div>
</div>
</div>