<div class="container">
<div class="row">
<div class="col-4">
<h2><%= t('contacts.contact_us') %></h2>

<%= form_for :contact, url: contacts_path do |f| %>
  <% if @contact && @contact.errors.any? %>
    <p>
      <ul>
        <% @contact.errors.full_messages.each do |msg| %>
          <li><i><%= msg %><i></li>
        <% end %>
      </ul>
    </p>
  <% end %>
  <% if user_signed_in? %>
    <p>
      <h4><%= current_user.email %></h4>    
    </p>
  <% else %>
    <p>
      <%= f.label :email %><br/>
      <%= f.text_field :email, class: "form-control", placeholder: "Email input" %>
    </p>
  <% end %>
  <p>
    <%= f.label :message %><br/>
    <%= f.text_area :message, class: "form-control", placeholder: "Message input" %>
  </p>
  <p>
    <%= f.submit 'Send message', class: 'btn btn-success'%>
  </p>

<% end %>
</div>
</div>
</div>